@import "colors";

#payments {
    display: flex;
    flex-direction: row;
    height: 100%;
    #payment-list {
        margin: 0px 40px 40px 40px;
        min-width: 288px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        #months-container {
            height: 100%;
            width: 100%;
            margin: 0%;
            padding-top: 21px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            .month-item {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                width: 100%;
                .month-name {
                    margin-top: 20px;
                }
                .card {
                    overflow: hidden;
                    .card-body {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        height: 100%;
                        width: 100%;
                        .payment-day {
                            height: 100%;
                            width: 73px;
                            margin: 0px;
                            background-color: $primaryDark;
                            color: $white;
                            padding: 20px;
                            text-align: center;
                        }
                        .payment-info {
                            margin-left: 10px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}