<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wallet</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/login.css">

    <script type="text/javascript" src="../scripts/register.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="titlebar"></div>
    <div class="wrapper" id="login-form">
      <form>
        <div class="form-group">
           <label for="username-reg">Username</label>
           <input type="text" class="form-control" placeholder="Enter username" id="username-reg">
        </div>
        <div class="form-group">
           <label for="password-reg">Password</label>
           <input type="password" class="form-control" id="password-reg" placeholder="Password" >
        </div>
        <div class="form-group">
          <label for="repeat-password">Repeat Password</label>
          <input type="password" class="form-control" id="repeat-password" placeholder="Password" >
       </div>
        <button class="btn btn-primary" id="register">Register</button>
      </form>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
</html>